<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Welcome</h1>
    <form method="post" action="/login">
        <table>
            <thead>
                <tr>
                    <th>Category ID</th>
                    <th>Name</th>
                    <th>Count</th>
                    <th>Price</th>
                    <th>Add to Cart</th>
                </tr>
            </thead>
            <tbody>
                {% for product in products %}
                    <tr>
                        <td>{{ product.category.cname }}</td>
                        <td>{{ product.pname }}</td>
                        <td>{{ product.pcount }}</td>
                        <td>{{ product.pprice }}</td>
                        {% if product.pcount == 0%}
                            <td>Out of Stock</td>
                        {%else%}
                            <td><input name="{{product.pid}}" type="number" min="1" max="{{product.pcount}}" placeholder="Count"></td>
                        {%endif%}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <button>Submit</button>
    </form>
    <a href={{url_for("search")}}>Search by Product or Category Name</a>
    {%if product_count_negative%}
        <p style="color: red;">More products purchased than available</p>
    {%endif%}
</body>
</html>
